.about-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px 0px 100px;
  background-color: #F3F3F3;
}

.about-text {
  flex: 50%;
  text-align: justify;
}

.about-text p {
  margin-right: 20px;
}

.about-text b {
  text-decoration: underline;
  text-decoration-color: #008080;
  text-underline-offset: 5px;
}

#last-word {
  text-decoration-line: overline;
}

.about-img img {
  height: 400px;
  width: auto;
  border-radius: 5%;
  box-shadow: 1px 1px 7px 5px #008080;

}

.about-text li {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;

}

.kannada {
  display: none;
}

@media screen and (max-width:640px) {
  .about-main {
    display: block;
    padding: 20px 20px 20px 40px;
    background-color: #F3F3F3;
  }

  .about-img {
    display: flex;
    justify-content: center;
  }

  .about-img img {
    height: 300px;
    width: auto;
    border-radius: 5%;
    box-shadow: 1px 1px 7px 5px #008080;
  }

  .about-text h1 {
    font-size: 20px;
  }

  .about-text p {
    text-align: left;
  }

  @media screen and(max-width:940px) {
    .about-main {
      display: flex;
      flex-direction: column;
      padding: 20px 20px 20px 40px;
      background-color: #F3F3F3;
    }

    .about-img {
      display: flex;
      justify-content: center;
    }

    .about-img img {
      height: 200px;
      width: 200px;
      border-radius: 5%;
      box-shadow: 1px 1px 7px 5px #008080;
    }

    .about-text h1 {
      font-size: 20px;
    }

    .about-text p {
      text-align: left;
    }


  }

}