.wrapper{
  background-image: url("../assets//bannerplain.png");
}
.Home-main {
  position: relative;
  width: 100%;
  height: 100vh;
}

.revanna-profile {
  display: flex;
  align-items: center;
  margin-top: -86.5vh;
  z-index: 10;
}

.revanna-profile-text {
  position: relative;
  font-size: 40px;
  left: 20%;
  color: white;
  margin-top: -7%;
  z-index: 10;
}

#name {
  font-size: 80px;
  font-weight: 600;
  line-height: 80px;
}

#MLC {
  font-size: 20px;
  margin-left: 40%;
}

.revanna-profile img {
  position: relative;
  z-index: 10;
  height: 500px;
  width: 700px;
}

.icons-slideBar {
  position: fixed;
  top: 20%;
}

.sider {
  list-style: none;
  padding: 20px;
}
.sider a{
  color: black;
}

.icon {
  font-size: 25px;
  padding-top: 20px;
}

#line {
  width: 100px;
  transform: rotate(90deg);
  padding-left: -140%;
  padding-top: 65px;
  margin-top: 30px;
}

#social_name {
  transform: rotate(90deg);
  padding-top: 75px;
  margin-top: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}
#twitter:hover{
  color:rgb(5, 117, 202);
}
#insta:hover{
  color: rgb(146, 5, 146);
}
#facebook:hover{
  color: rgb(9, 9, 116);
}

@media screen and (max-width: 940px) {
  .icon {
    font-size: 18px;
    padding-top: 15px;
  }
  .revanna-profile-text {
    left: 10%;
    margin-top: -13%;
    z-index: 10;
  }

  #name {
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
  }

  #MLC {
    font-size: 18px;
    margin-left: 25%;
    line-height: 70px;
  }

  .revanna-profile img {
    left: 0%;
    height: 400px;
    width: 550px;
  }
}
@media screen and (max-width: 1050px) {

  .icon {
    font-size: 17px;
    padding-top: 13px;
  }
  .revanna-profile-text {
    left: 10%;
    margin-top: -13%;
    z-index: 10;
  }

  .revanna-profile img {
    left: 0%;
    height: 400px;
    width: 550px;
  }


}

@media screen and (max-width: 647px) {
  .icons-slideBar {
    display: none;
  }

  .wrapper{
    /* width: 100%;
    height: 100vh; */
    background-image: url('../assets/mobile.png');


  }

  .revanna-profile {
    display: flex;
    justify-content: center;
    align-items:left;
    flex-direction: column;
    top: 10%;
  }
  .revanna-profile-text {
    left:4%;
    margin-top: 10%;
    z-index: 10;
  }


  #name {
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    width: 300px;
  }

  #MLC {
    font-size: 14px;
    line-height: 40px;
  }

  .revanna-profile img {
    height: 400px;
    width: 550px;
  }
}
@media screen and (max-width:310px) {
  .revanna-profile-text {
    left:25%;
    margin-top: 10%;
    z-index: 10;
  }


  #name {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    width: 250px;
  }

  #MLC {
    font-size: 12px;
    line-height: 40px;
  }

  .revanna-profile img {
    height: 200px;
    width: 300px;
  }


}