.Initiatives-main {
  padding: 50px 40px 0px 100px;

}
.Initives-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
padding-bottom: 30px;
}
.Initives-top img {
  width: 350px;
  height:250px;
  margin: 0px 40px 30px 0px;
  border-radius: 5%;
}
#left-carasoul {
  box-shadow: -7px -8px #008080;
}

#top-text {
  text-align: justify;
  margin: 0px 0px 20px 100px;
}
#right-carasoul{
  box-shadow:-10px -5px #008080;
}
@media only screen and (max-width:640px) {
  .Initiatives-main{
    padding: 20px 20px 20px 40px;

  }
  .Initives-top {
    display: flex;
    flex-direction:column;
     justify-content: center; 
    align-items: center; 
  }
  .Initives-top img{
    margin: 20px 0px 0px 20px;
    height: 200px;
    width: 250px;

  }
  #top-text {
    text-align: justify;
    margin: 0px 0px 0px 0px;
  }
.touch-form-photo{
  display: none;
}
  
}
@media screen and (max-width:840px) {
  .Initives-top {
    display: flex;
    flex-direction:column;
  }

  #top-text {
    text-align: left;
    margin: 0px 0px 0px 0px;
  }


  
}
@media screen and (max-width: 310px) {
  .Initives-top img{
    margin: 20px 0px 0px 0px;
    height: 200px;
    width: 200px;

  }

}
